fastapi==0.115.5
uvicorn==0.30.6
pydantic==2.8.2
scikit-learn==1.5.2
joblib==1.4.2
numpy==2.1.2
pandas==2.2.2
nltk==3.9.1
matplotlib==3.9.2
seaborn==0.13.2
torch==2.4.1
transformers==4.45.2
datasets==2.21.0
